body {
    margin: 0;
    padding: 0;
  }
  .top-section {
    background-color: rgb(8, 8, 168);
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
  }
  .top-section img {
    height: 40px;
    margin-right: 10px;
  }
  .top-section a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-family: Arial, sans-serif;
  }
  .top-section a:hover {
    color: #000;
  }

  h1 {
    font-family: Arial, sans-serif;
    color: white;
  }
